body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
}

header {
  background: #586e79;
  color: #fff;
  padding: 1em 0;
  text-align: center;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

main {
  width: 80%;
  margin: 20px auto;
}

.project {
  background: #fff;
  padding: 1em;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project h2 {
  color: #333;
}

.project p {
  line-height: 1.5;
}

.button {
  border-color: #ffffff00;
  display: inline-block;
  padding: 10px 15px;
  background: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background: #0056b3;
}

footer {
  background: #586e79;
  color: #fff;
  text-align: center;
  padding: 1em 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

@media (max-width: 768px) {
  nav ul li {
    display: block;
    margin-bottom: 10px;
  }

  main {
    width: 95%;
  }
}

.boxes {
  display: grid;
  grid-template-columns: repeat(10, 20fr);
  grid-gap: 0px;
}

.boxes #project1 {
  width: 100px; /* or any specific pixel value like 100px */
  height: auto; /* keeps the aspect ratio of the image */
}
