body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background: #586e79;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

header nav ul {
  padding: 0;
  list-style: none;
}

header nav ul li {
  display: inline;
  margin: 0 10px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 0px;
  margin: 0px 0;
}

footer {
  text-align: center;
  padding: 20px 0;
  background: #586e79;
  color: #fff;
}

#profile img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

#profile h2 {
  margin: 2; /* Removes default margin */
}

nav ul {
  list-style-type: none; /* Removes bullet points */
  padding: 0px; /* Removes default padding */
  margin: 0; /* Removes default margin */
  display: flex; /* Aligns items in a row */
  justify-content: center; /* Centers items horizontally */
}

nav ul li {
  margin: 0 0px; /* Adds space between list items */
}

.social_button img {
  align-self: flex-start;
  width: 20px;
  height: auto;
  display: inline;
  padding-right: 10px;
}
