#applyCSS * {
  background-image: url("/assets/images/photo-1461749280684-dccba630e2f6.avif");
  background-repeat: repeat-y;
  background-size: cover; /* or 100% 100% to stretch over the full area */
  background-attachment: fixed;
}

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
  min-height: 100vh;

  background-image: url("");
  background-repeat: repeat-y;
  background-size: cover; /* or 100% 100% to stretch over the full area */
  background-attachment: fixed;
}
@media (max-width: 768px) {
  body {
    background-image: url("/path/to/your/alternative-image.png");
  }
}

header {
  background: #586e79;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

header nav ul {
  padding: 0;
  list-style: none;
}

header nav ul li {
  display: inline;
  margin: 0 10px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

header nav ul li a:hover {
  background-color: #4a5a64;
}

section {
  margin: 20px auto;
  padding: 0px;

  max-width: 800px; /* Optional: for better readability on wide screens */
}

footer {
  text-align: center;
  padding: 20px 0;
  background: #586e79;
  color: #fff;
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.1);
}

#profile img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  border: 3px solid #586e79;
}

#profile h2 {
  margin: 2; /* Removes default margin */
}

nav ul {
  list-style-type: none; /* Removes bullet points */
  padding: 0px; /* Removes default padding */
  margin: 0; /* Removes default margin */
  display: flex; /* Aligns items in a row */
  justify-content: center; /* Centers items horizontally */
}

nav ul li {
  margin: 0 0px; /* Adds space between list items */
}

.social_button img {
  align-self: flex-start;
  width: 20px;
  height: auto;
  display: inline;
  padding-right: 10px;
}

.social_button img:hover {
  opacity: 0.7;
}

#timeline-wrapper {
  background-image: url("/assets/images/python-hero.jpg");
  height: 20px;
  width: auto; /* Adjust to the size of your image */
  background-size: auto;
}

.timeline-event {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  color: #000;
  text-align: center;
  cursor: pointer;
  /* Add more styling as needed */
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.container section {
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
}
